<footer id="footer" class="footer-wrapper">

    <div id="fbarm">
        <a href="#capitalbanggia"><img decoding="async"
                src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/images/icons/icon-download.png"
                alt="" />Nhận Thông
            Tin<br />
        </a>
        <a class="zalo" href="https://zalo.me/0975460402"><img decoding="async"
                src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/images/icons/ic-dh.png"
                alt="" />
            Chat Zalo<br /> </a><a class="hl" href="tel:0975460402"><img decoding="async"
                src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/images/icons/ic-phone1.png"
                alt="" />0975 460 402</a>
    </div>
    <div>
        <div id="capitalbanggia" class="lightbox-by-id lightbox-content mfp-hide lightbox-white"
            style="max-width: 350px; padding: 10px">
            <div class="wpcf7 no-js" id="wpcf7-f200-p2-o4" lang="vi" dir="ltr" data-wpcf7-id="200">
                <div class="screen-reader-response">
                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                    <ul></ul>
                </div>
                <div class="wpcf7-form init" aria-label="Form liên hệ" novalidate="novalidate" data-status="init">
                    <style>
                        /*css popup*/
                        .boxpopup {
                            padding: 20px;
                        }

                        .header_capital {
                            text-align: center;
                        }

                        h5.title-capital {
                            color: rgb(249, 232, 0);
                            font-size: 22px;
                            font-weight: bold;
                            text-align: center;
                            line-height: 1.2;
                        }

                        h5.name-capital {
                            color: rgb(255, 255, 255);
                            font-size: 18px;
                            text-align: center;
                            line-height: 1.2;
                        }

                        p.link-capital {
                            color: rgb(255, 255, 255);
                            font-size: 14px;
                            font-style: italic;
                            text-align: center;
                            line-height: 1.4;
                            margin-bottom: 10px;
                        }

                        .btnpopup-capital {
                            background-color: rgb(249, 232, 0) !important;
                            color: rgb(59, 59, 60) !important;
                            margin-top: 15px !important;
                            width: 100% !important;
                        }

                        #capitalbanggia {
                            background-color: #001d3f !important;
                            border: 2px solid #ffffff;
                        }

                        #capitalbanggia form {
                            margin-bottom: 0 !important;
                        }

                        .logo_capital {
                            padding-bottom: 20px;
                            padding-top: 15px;
                        }
                    </style>
                    <div class="boxpopup">
                        <div class="header_capital">
                            <h5 class="title-capital">
                                ĐĂNG KÍ NHẬN THÔNG TIN MỚI NHẤT
                            </h5>
                            <h5 class="name-capital">Vinhomes Cao Xà Lá</h5>
                            <p class="link-capital">thong-tin-du-an.xlsx</p>
                        </div>
                        <div class="formpopup">
                            <p>
                                <span class="-wrap" data-name="fullname"><input size="40" maxlength="400"
                                        id="fullname_v4" class="wpcf7-text filepopup" aria-required="true"
                                        aria-invalid="false" placeholder="Họ và tên" value="" type="text"
                                        name="fullname" /></span><br />
                                <span class="-wrap" data-name="phone"><input size="40" maxlength="400" id="phone_v4"
                                        class="wpcf7-tel wpcf7-text wpcf7-validates-as-tel filepopup"
                                        placeholder="Số điện thoại" value="" type="tel" name="phone" /></span><br />
                                <span class="-wrap" data-name="email-412"><input size="40" maxlength="400" id="email_v4"
                                        class="wpcf7-email wpcf7-text wpcf7-validates-as-email" aria-invalid="false"
                                        placeholder="Email" value="" type="email" name="email-412" /></span><br />
                                <input class="has-spinner btnpopup-capital" id="register_v4" type="submit"
                                    value="TẢI XUỐNG NGAY" />
                            </p>
                        </div>
                    </div>
                    <div class="wpcf7-response-output" id="response-output_v4" aria-hidden="true"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="section" id="section_2111612919">
        <div class="bg section-bg fill bg-fill bg-loaded"></div>

        <div class="section-content relative">
            <div class="row" id="row-1695383495">
                <div id="col-680764661" class="col small-12 large-5">
                    <div class="col-inner">
                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_639184123">
                            <div class="img-inner dark"></div>

                            <style>
                                #image_639184123 {
                                    width: 40%;
                                }
                            </style>
                        </div>

                        <div id="text-730420020" class="text">
                            <h3>VINHOMES CAO XÀ LÁ - VINHOMES GALAXY</h3>
                            <h4>THÔNG TIN CHÍNH THỨC TỪ VINHOMES</h4>
                            <ul>
                                <li>
                                    Địa chỉ: Số 233, số 233B và số 235B đường Nguyễn Trãi.
                                    Vinhomes Cao Xà Lá.
                                </li>
                                <li>Hotline: 0975 460 402</li>
                                <li>
                                    <span style="color: #ffffff">Website: <a style="color: #ffffff"
                                            href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala">https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala</a></span>
                                </li>
                            </ul>

                            <style>
                                #text-730420020 {
                                    color: rgb(255, 255, 255);
                                }

                                #text-730420020>* {
                                    color: rgb(255, 255, 255);
                                }
                            </style>
                        </div>
                    </div>
                </div>

                <div id="col-1359296724" class="col small-12 large-3">
                    <div class="col-inner">
                        <div id="text-1589186371" class="text">
                            <em>* Thông tin hình ảnh, các tiện ích trên website này chỉ
                                mang tính chất minh họa tương đối và có thể được điều
                                chỉnh theo quyết định của chủ đầu tư tại từng thời điểm để
                                đảm bảo phù hợp quy hoạch và thực tế của dự án.</em>

                            <style>
                                #text-1589186371 {
                                    text-align: center;
                                    color: rgb(255, 255, 255);
                                }

                                #text-1589186371>* {
                                    color: rgb(255, 255, 255);
                                }
                            </style>
                        </div>
                    </div>
                </div>

                <div id="col-19228739" class="col small-12 large-4">
                    <div class="col-inner text-center">
                        <div id="text-2988087189" class="text">
                            <h3>NHẬN THÔNG TIN DỰ ÁN</h3>

                            <style>
                                #text-2988087189 {
                                    text-align: center;
                                    color: rgb(255, 255, 255);
                                }

                                #text-2988087189>* {
                                    color: rgb(255, 255, 255);
                                }
                            </style>
                        </div>

                        <div id="gap-388194195" class="gap-element clearfix" style="display: block; height: auto">
                            <style>
                                #gap-388194195 {
                                    padding-top: 20px;
                                }
                            </style>
                        </div>

                        <div class="wpcf7 no-js" id="wpcf7-f103-o5" lang="vi" dir="ltr" data-wpcf7-id="103">
                            <div class="screen-reader-response">
                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                <ul></ul>
                            </div>
                            <div class="wpcf7-form init" aria-label="Form liên hệ" novalidate="novalidate"
                                data-status="init">
                                <style>
                                    .expand {
                                        background-color: #f36000 !important;
                                        width: 70% !important;
                                        border-radius: 15px !important;
                                    }
                                </style>
                                <p>
                                    <span class="-wrap" data-name="fullname">
                                        <input size="40" maxlength="400" id="fullname_v3" class="wpcf7-text filepopup"
                                            placeholder="Họ và tên" value="" type="text" name="fullname" /></span><br />
                                    <span class="-wrap" data-name="phone"><input size="40" maxlength="400" id="phone_v3"
                                            class="wpcf7-tel wpcf7-text wpcf7-validates-as-tel filepopup"
                                            placeholder="Số điện thoại" value="" type="tel" name="phone" /></span><br />
                                    <span class="-wrap" data-name="email-412"><input size="40" maxlength="400"
                                            id="email_v3" class="wpcf7-email wpcf7-text wpcf7-validates-as-email"
                                            aria-invalid="false" placeholder="Email" value="" type="email"
                                            name="email-412" /></span><br />
                                    <input class="has-spinner expand" type="submit" id="register_v3"
                                        value="ĐĂNG KÝ NGAY" />
                                </p>
                                <div class="wpcf7-response-output" id="response-output_v3" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <style>
                    #row-1695383495>.col>.col-inner {
                        padding: 30px 0px 0px 0px;
                    }
                </style>
            </div>
        </div>

        <style>
            #section_2111612919 {
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: rgb(169, 130, 78);
            }

            #section_2111612919 .ux-shape-divider--top svg {
                height: 150px;
                --divider-top-width: 100%;
            }

            #section_2111612919 .ux-shape-divider--bottom svg {
                height: 150px;
                --divider-width: 100%;
            }
        </style>
    </section>
</footer>