<header id="header" class="header has-sticky sticky-jump">
    <div class="header-wrapper">
        <div id="masthead" class="header-main">
            <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
                <div id="logo" class="flex-col logo">
                    <a href="/">
                        <img decoding="async" width="700" height="1024"
                            src="https://duancaoxala.com/media/images/icons/brand.png"
                            class="attachment-large size-large" alt="" />
                    </a>
                </div>

                <div class="flex-col show-for-medium flex-left">
                    <ul class="mobile-nav nav nav-left">
                        <li class="nav-icon has-icon">
                            <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color=""
                                class="is-small" aria-label="Menu" aria-controls="main-menu" aria-expanded="false">
                                <i class="icon-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Left Elements -->
                <div class="flex-col hide-for-medium flex-left flex-grow">
                    <ul
                        class="header-nav header-nav-main nav nav-left nav-divided nav-size-medium nav-spacing-xlarge nav-uppercase">
                        <li id="menu-item-77"
                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-77 active menu-item-design-default">
                            <a href="/" aria-current="page" class="nav-top-link">Trang chủ</a>
                        </li>
                        <li id="menu-item-78"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78 menu-item-design-default">
                            <a href="/tien-do" class="nav-top-link">Tiến độ</a>
                        </li>
                        <li id="menu-item-79"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-79 menu-item-design-default">
                            <a href="/vi-tri" class="nav-top-link">Vị trí</a>
                        </li>
                        <li id="menu-item-80"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80 menu-item-design-default">
                            <a href="/gia-ban" class="nav-top-link">Giá bán</a>
                        </li>
                        <li id="menu-item-81"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81 menu-item-design-default">
                            <a href="/tin-tuc" class="nav-top-link">Tin tức</a>
                        </li>

                        <li id="menu-item-83"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83 menu-item-design-default">
                            <a href="/lien-he" class="nav-top-link">Liên hệ</a>
                        </li>
                    </ul>
                </div>

                <!-- Right Elements -->
                <div class="flex-col hide-for-medium flex-right">
                    <ul
                        class="header-nav header-nav-main nav nav-right nav-divided nav-size-medium nav-spacing-xlarge nav-uppercase">
                    </ul>
                </div>

                <!-- Mobile Right Elements -->
                <div class="flex-col show-for-medium flex-right">
                    <ul class="mobile-nav nav nav-right"></ul>
                </div>
            </div>

            <div class="container">
                <div class="top-divider full-width"></div>
            </div>
        </div>
        <div class="header-bg-container fill">
            <div class="header-bg-image fill"></div>
            <div class="header-bg-color fill"></div>
        </div>
    </div>
    <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar">
            <ul class="nav nav-sidebar nav-vertical nav-uppercase" data-tab="1">
                <li class="relative has-icon">
                    <a href="/">
                        <img src="https://duancaoxala.com/media/images/icons/brand.png" width="120" alt="" />
                    </a>
                </li>
                <li
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-77">
                    <a href="/" aria-current="page">Trang chủ</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78">
                    <a href="/tien-do">Tiến độ</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-79">
                    <a href="/vi-tri">Vị trí</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80">
                    <a href="/gia-ban">Giá bán</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81">
                    <a href="/tin-tuc">Tin tức</a>
                </li>

                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83">
                    <a href="/lien-he">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</header>