<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/media/images/logo.png" />
    <title>Liên hệ - Vinhomes Galaxy Cao Xà Lá</title>
    <meta name="description" content="Dự án Vinhomes Galaxy Cao Xà Lá cập nhật tiến độ mới nhất của dự án" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://duancaoxala.com" />

    <!-- Open Graph -->
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Dự án Vinhomes Galaxy Cao Xà Lá cập nhật tiến độ mới nhất của dự án" />
    <meta property="og:description"
        content="Chi tiết dự án Vinhomes Galaxy Cao Xà Lá. Cập nhật liên tục tình trạng dự án, giá bán, tiến độ và ưu đãi." />
    <meta property="og:url" content="https://duancaoxala.com" />
    <meta name="keywords"
        content="vinhomes cao xà lá, vin cao xà lá, cao xà lá, vinhome galaxy, bảng giá vinhome cao xà lá, căn hộ cao cấp Nguyễn Trãi" />
    <meta property="og:site_name" content="Vinhomes Cao Xà Lá" />
    <meta property="og:image"
        content="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/images/icons/brand.png" />
    <meta property="og:image:width" content="1536" />
    <meta property="og:image:height" content="864" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Dự án Vinhomes Galaxy Cao Xà Lá cập nhật tiến độ mới nhất của dự án" />
    <meta name="twitter:description"
        content="Chi tiết dự án Vinhomes Galaxy Cao Xà Lá. Cập nhật liên tục tình trạng dự án, giá bán, tiến độ và ưu đãi." />
    <meta name="twitter:image"
        content="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/images/icons/brand.png" />
    <meta name="twitter:url" content="https://duancaoxala.com" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/flatsome.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/custom.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/css.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/error.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/jquery.min.js"></script>

    <style rel="stylesheet" type="text/css" media="all">
        body {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @font-face {
            font-family: "fl-icons";
            font-display: block;
            src: url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts//fl-icons.eot?v=3.15.7);
            src: url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts//fl-icons.eot#iefix?v=3.15.7) format("embedded-opentype"),
                url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts//fl-icons.woff2) format("woff2"),
                url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts//fl-icons.ttf?v=3.15.7) format("truetype"),
                url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts//fl-icons.woff?v=3.15.7) format("woff"),
                url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts//fl-icons.svg?v=3.15.7#fl-icons) format("svg");
        }
    </style>
</head>

<body
    class="home wp-singular page-template page-template-page-blank page-template-page-blank-php page page-id-2 wp-theme-flatsome wp-child-theme-flatsome-child lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">
    <div id="wrapper">
        <%-include('header') %>
            <div class="container" id="container-lien-he">
                <style>
                    #container-lien-he {
                        max-width: 960px;
                        margin:30px auto;
                        padding: 2rem;
                        background: #fff;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                        border-radius: 15px;
                    }
                </style>
                <h2 style="color: #003C9D; font-weight: bold; margin-bottom: 20px;text-align: center;">LIÊN HỆ NHẬN
                    THÔNG TIN VÀ TƯ VẤN VINHOMES LONG AN</h2>
                <div class="row">
                    <!-- Thông tin liên hệ -->
                    <div class="col medium-6 small-12 large-6">
                        <p style="color: #003C9D; font-weight: bold;"><strong>CÔNG TY TNHH DỊCH VỤ BẤT ĐỘNG SẢN
                                SALEREAL</strong></p>
                        <p>
                            <i class="fa-solid fa-location-dot" style="color: #f4b400;"></i>
                            20 Phan Đăng Lưu, Phường 6, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam
                        </p>
                        <p>
                            <i class="icon-phone" style="color: #f4b400;"></i>
                            <a href="tel:0938910329">0938.910.329</a>
                        </p>
                        <p>
                            <i class="fas fa-globe" style="color: #f4b400;"></i>
                            <a href="https://vinhomeslongansr.vn/" target="_blank">https://vinhomeslongansr.vn/</a>
                        </p>
                    </div>

                    <!-- Form liên hệ -->
                    <div class="col medium-6 small-12 large-6">
                        <form action="#" method="post">
                            <div class="form-row">
                                <input type="text" name="name" placeholder="Họ tên" required
                                    style="width: 100%; padding: 10px; margin-bottom: 15px;">
                            </div>
                            <div class="form-row">
                                <input type="tel" name="phone" placeholder="Số điện thoại" required
                                    style="width: 100%; padding: 10px; margin-bottom: 15px;">
                            </div>
                            <div class="form-row">
                                <input type="email" name="email" placeholder="Email" required
                                    style="width: 100%; padding: 10px; margin-bottom: 15px;">
                            </div>
                            <div class="form-row">
                                <button type="submit" class="button alert"
                                    style="width: 100%; color: white; padding: 5px; font-weight: bold;border-radius: 10px;">
                                    LIÊN HỆ LẠI NGAY
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <%-include('footer') %>
    </div>
</body>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/popup.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/flatsome-extra.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/hooks.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/i18n.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/flatsome-live-search.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/wp-polyfill.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/hoverIntent.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/flatsome.js"></script>

</html>