<!DOCTYPE html>
<html>

<head>
    <title>Logs</title>
</head>

<body>
    <pre id="output"></pre>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        const socket = io();

        socket.on('fileUpdate', (data) => {
            document.getElementById('output').textContent = data;
        });
    </script>
</body>

</html>