<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/images/logo.png" />
    <title>Tiến Độ Dự Án - Vinhomes Galaxy Cao Xà Lá</title>
    <meta name="description" content="Vị trí của dự án Vinhomes Cao Xà Lá" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://duancaoxala.com" />

    <!-- Open Graph -->
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Vị trí của dự án Vinhomes Cao Xà Lá" />
    <meta property="og:description"
        content="Khám phá vị trí đắc địa của dự án Vinhomes Cao Xà Lá tại trung tâm Thanh Xuân, kết nối thuận tiện các quận nội thành Hà Nội." />
    <meta property="og:url" content="https://duancaoxala.com" />
    <meta name="keywords"
        content="vinhomes cao xà lá, vin cao xà lá, cao xà lá, vinhome galaxy, bảng giá vinhome cao xà lá, tiến độ, tiến độ vin cao xà lá" />
    <meta property="og:site_name" content="Vinhomes Cao Xà Lá" />
    <meta property="og:image"
        content="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/images/tien-do/nha-may-thuoc-la.jpg" />
    <meta property="og:image:width" content="1536" />
    <meta property="og:image:height" content="864" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Cập nhật tiến độ mới nhất của dự án Vinhomes Cao Xà Lá" />
    <meta name="twitter:description"
        content="Khám phá vị trí đắc địa của dự án Vinhomes Cao Xà Lá tại trung tâm Thanh Xuân, kết nối thuận tiện các quận nội thành Hà Nội." />
    <meta name="twitter:image"
        content="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/images/tien-do/nha-may-thuoc-la.jpg" />
    <meta name="twitter:url" content="https://duancaoxala.com" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/tien-do.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/flatsome.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/custom.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/css.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/error.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/css/global-styles-inline.css" />
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/jquery.min.js"></script>

    <style rel="stylesheet" type="text/css" media="all">
        body {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @font-face {
            font-family: "fl-icons";
            font-display: block;
            src: url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts/fl-icons.eot?v=3.15.7);
            src: url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts/fl-icons.eot#iefix?v=3.15.7) format("embedded-opentype"),
                url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts/fl-icons.woff2) format("woff2"),
                url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts/fl-icons.ttf?v=3.15.7) format("truetype"),
                url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts/fl-icons.woff?v=3.15.7) format("woff"),
                url(https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/media/fonts/fl-icons.svg?v=3.15.7#fl-icons) format("svg");
        }
    </style>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Vị trí dự án Vinhomes Cao Xà Lá",
        "url": "https://duancaoxala.com/vi-tri",
        "description": "Khám phá vị trí đắc địa của dự án Vinhomes Cao Xà Lá tại trung tâm Thanh Xuân, kết nối thuận tiện các quận nội thành Hà Nội.",
        "inLanguage": "vi",
        "about": {
          "@type": "Place",
          "name": "Vinhomes Cao Xà Lá",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Ngã tư Nguyễn Trãi - Giải Phóng",
            "addressLocality": "Thanh Xuân",
            "addressRegion": "Hà Nội",
            "addressCountry": "VN"
          },
          "geo": {
            "@type": "GeoCoordinates",
            "latitude": 21.0012,
            "longitude": 105.8269
          }
        }
      }
    </script>
</head>

<body
    class="home wp-singular page-template page-template-page-blank page-template-page-blank-php page page-id-2 wp-theme-flatsome wp-child-theme-flatsome-child lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">
    <div id="wrapper">
        <%-include('header') %>
            <%-include('footer') %>
    </div>
</body>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/popup.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/flatsome-extra.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/hooks.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/i18n.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/flatsome-live-search.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/wp-polyfill.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/hoverIntent.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vuongq303/files@master/duancaoxala/js/flatsome.js"></script>

</html>